body{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
}
.asosiy{
    height: 475px;
    width: 780px;
    
} 
.div{
    padding-left: 20px;
    font-size: 20px;
    padding-top: 50px;
}
.going{
    font-style: oblique;
    padding-right: 200px;

}
.span{
    color: rgb(0, 0, 207);
    padding-right: 20px;
}
.sabout{
    padding-right: 20px;
}
.sup{
    padding-right: 20px;
}
.staem{
    padding-right: 20px;
}
.div1{
    margin-top: 65px;
    /* background-color: cadetblue; */
    width: 440px;
    height: 337px;
}

.olivia{
    
    padding-left: 80px;
    font-size: 59px;
}
.graphic{
    padding-left: 80px;
    padding-top: 20%;
    font-size: 14px;
}
.div1div2{
    display: flex;
}
.div2{
    margin-top: 65px;
    width: 340px;
    height: 337px;
    /* background-color: slategray; */
}
.jpg{
    margin-left: 30%;
    height: 470px;
    width: 400px;
}
.footer{
    background-color: blueviolet;
    height: 188px;
    width: auto;
    display: flex;
}
.lorem{
    padding-left: 50px;
    padding-bottom: 0;
    margin-top: 20%;
    font-size: 14px;
    /* background-color: coral; */
}
.buttonn{
    text-align: center;
    height: 4px;
    /* background-color: blue; */
}
.button{

    background-color: blue;
    margin-top: 5%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.butto{
    background-color: rgb(65, 63, 63);
    margin-top: 5%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.nuqta{
    font-size: 80px;
}
.divfooter{
    padding-top: 60px;
    padding-left: 120px;
    font-size: 25px;
    width: 50%;
    height: 188px;
    /* background-color: red; */
}
.follow{
    padding-right: 200px;
    color: white;
    display: flex;
}
.divfooter2{
    padding-right: 20px;
    padding-top: 40px;
    margin-left: 0px;
    /* background-color: springgreen; */
}
.unit{
    padding-right: 10px;
}   
.you{
    margin-left: 30%;
}
.k5{
    color: white;
}
.k10{
    color: white;

}
.k{
    width: 188px;
    margin-right: 20%;
    background-color: slategray;
    
}
